body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    /* z-index: -1; */
}

/* Content and main styles*/
.odd {
    margin-left: 0px;
    position: relative;
    overflow: hidden;
}

/* Home Styles */
.home {
    padding: 24px 12px;
    background-color: rgb(150, 0, 150);
    color: white;
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgb(150, 0, 150);
}

.main-image {
    margin: auto;
    align-self: center;
    width: 30%;
}

/* About Styles */
.about {
    text-align: center;
    padding: 24px 12px;
    background-color: white;
    color:rgb(150, 0, 150);
}

/* Text Hover effect */
h1{
    font-size: 2vw;
}

h1 b{
    position: relative;
}

h1 b::after{
    content: '';
    position: absolute;
    right:0;
    bottom:0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: 0.5s ease-in-out;

} 
h1 b:hover::after{
    right: auto;
    left:0;
    width: 100%;
}

.about-container {
    padding: 20px 16px;
    border: 2px solid rgb(150, 0, 150);
    border-radius: 6px;
    width: 75%;
    height: auto;
    transition: 1s;
    z-index: 1;
}

.about-container:hover {
    box-shadow: 0px 15px 10px rgb(150, 0, 150);
}

.about-container p{
    font-size: 1.4vw;
    text-align:center;
}

/* Education Styles */
.pendidikan1{
    margin:0px;
    padding: 20px 16px;
    margin: 24px 12px;
    border-radius: 6px;
    border: 2px solid rgb(150, 0, 150);
    width: auto;
    display: flex;
    flex-flow: row; 
    flex: 1 1 auto;
    justify-content: space-evenly;
    background-color:rgb(150, 0, 150);
    color: white;
    transition: 1s;
    position: relative;
    z-index: 1;
}

.pendidikan2{
    margin:0px;
    padding: 20px 16px;
    margin: 24px 12px;
    border-radius: 6px;
    border: 2px solid rgb(150, 0, 150);
    width: auto;
    display: flex;
    flex-flow: row; 
    flex: 1 1 auto;
    justify-content: space-evenly;
    background-color:rgb(150, 0, 150);
    color: white;
    transition: 1s;
    position: relative;
    z-index: 1;
}

.pendidikan3{
    margin:0px;
    padding: 20px 16px;
    margin: 24px 12px;
    border-radius: 6px;
    border: 2px solid rgb(150, 0, 150);
    width: auto;
    display: flex;
    flex-flow: row; 
    flex: 1 1 auto;
    justify-content: space-evenly;
    background-color:rgb(150, 0, 150);
    color: white;
    transition: 1s;
    position: relative;
    z-index: 1;
}

.pendidikan4{
    margin:0px;
    padding: 20px 16px;
    margin: 24px 12px;
    border-radius: 6px;
    border: 2px solid rgb(150, 0, 150);
    width: auto;
    display: flex;
    flex-flow: row; 
    flex: 1 1 auto;
    justify-content: space-evenly;
    background-color:rgb(150, 0, 150);
    color: white;
    transition: 1s;
    position: relative;
    z-index: 1;
}

/* Skil Styles */
.skill{
    text-align: center;
    display: flex;
    flex-flow: column;
    padding: 1% 0%;
    border: 2px solid rgb(150, 0, 150);
    border-radius: 6px;
    width: 75%;
    height: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cert-row{
    margin: 2% 5%;
    flex: 1 0 auto;
    height: 40%;
    min-height: 100px;
    width: 90%;
    border: 2px solid rgb(150, 0, 150);
    border-radius: 8px;
    padding: 6px 0px;
    transition: 1s;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background-color:rgb(150, 0, 150);
    color: white;
}

.cert-row:hover{
    box-shadow: 0px 10px 5px rgb(150, 0, 150);
}

.cert-content{
    width: 75%;
    height: auto;
    flex: 0 1 auto;
    padding: 6px 12px;
}

.footer{
    padding: 1em 1.5em;
    background: rgb(150, 0, 150);
    text-align: right;
}