#main{
    background-color: #f0f0f0;
    color: red;
    font-family: georgia;
    font-size: 0.8cm;
}
.body{
    background-color: #cacaca;
    color: red;
    font-family: georgia;
    font-size: 0.9em;
}